<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sdp.project.pethospital.mapper.CaseConsultMapper">
  <resultMap id="BaseResultMap" type="edu.sdp.project.pethospital.entity.CaseConsult">
    <constructor>
      <idArg column="caseConsultId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="consultDescrip" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="consultImageUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="consultVideoUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    caseConsultId, consultDescrip, consultImageUrl, consultVideoUrl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from caseconsult
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from caseconsult
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    insert into caseconsult (caseConsultId, consultDescrip, consultImageUrl, 
      consultVideoUrl)
    values (#{caseconsultid,jdbcType=INTEGER}, #{consultdescrip,jdbcType=VARCHAR}, #{consultimageurl,jdbcType=VARCHAR}, 
      #{consultvideourl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    insert into caseconsult
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="caseconsultid != null">
        caseConsultId,
      </if>
      <if test="consultdescrip != null">
        consultDescrip,
      </if>
      <if test="consultimageurl != null">
        consultImageUrl,
      </if>
      <if test="consultvideourl != null">
        consultVideoUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="caseconsultid != null">
        #{caseconsultid,jdbcType=INTEGER},
      </if>
      <if test="consultdescrip != null">
        #{consultdescrip,jdbcType=VARCHAR},
      </if>
      <if test="consultimageurl != null">
        #{consultimageurl,jdbcType=VARCHAR},
      </if>
      <if test="consultvideourl != null">
        #{consultvideourl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    update caseconsult
    <set>
      <if test="consultdescrip != null">
        consultDescrip = #{consultdescrip,jdbcType=VARCHAR},
      </if>
      <if test="consultimageurl != null">
        consultImageUrl = #{consultimageurl,jdbcType=VARCHAR},
      </if>
      <if test="consultvideourl != null">
        consultVideoUrl = #{consultvideourl,jdbcType=VARCHAR},
      </if>
    </set>
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    update caseconsult
    set consultDescrip = #{consultdescrip,jdbcType=VARCHAR},
      consultImageUrl = #{consultimageurl,jdbcType=VARCHAR},
      consultVideoUrl = #{consultvideourl,jdbcType=VARCHAR}
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="edu.sdp.project.pethospital.entity.CaseConsult">
    <constructor>
      <idArg column="caseConsultId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="consultDescrip" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="consultImageUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="consultVideoUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    caseConsultId, consultDescrip, consultImageUrl, consultVideoUrl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from caseconsult
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from caseconsult
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    insert into caseconsult (caseConsultId, consultDescrip, consultImageUrl, 
      consultVideoUrl)
    values (#{caseconsultid,jdbcType=INTEGER}, #{consultdescrip,jdbcType=VARCHAR}, #{consultimageurl,jdbcType=VARCHAR}, 
      #{consultvideourl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    insert into caseconsult
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="caseconsultid != null">
        caseConsultId,
      </if>
      <if test="consultdescrip != null">
        consultDescrip,
      </if>
      <if test="consultimageurl != null">
        consultImageUrl,
      </if>
      <if test="consultvideourl != null">
        consultVideoUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="caseconsultid != null">
        #{caseconsultid,jdbcType=INTEGER},
      </if>
      <if test="consultdescrip != null">
        #{consultdescrip,jdbcType=VARCHAR},
      </if>
      <if test="consultimageurl != null">
        #{consultimageurl,jdbcType=VARCHAR},
      </if>
      <if test="consultvideourl != null">
        #{consultvideourl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    update caseconsult
    <set>
      <if test="consultdescrip != null">
        consultDescrip = #{consultdescrip,jdbcType=VARCHAR},
      </if>
      <if test="consultimageurl != null">
        consultImageUrl = #{consultimageurl,jdbcType=VARCHAR},
      </if>
      <if test="consultvideourl != null">
        consultVideoUrl = #{consultvideourl,jdbcType=VARCHAR},
      </if>
    </set>
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    update caseconsult
    set consultDescrip = #{consultdescrip,jdbcType=VARCHAR},
      consultImageUrl = #{consultimageurl,jdbcType=VARCHAR},
      consultVideoUrl = #{consultvideourl,jdbcType=VARCHAR}
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="edu.sdp.project.pethospital.entity.CaseConsult">
    <constructor>
      <idArg column="caseConsultId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="consultDescrip" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="consultImageUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="consultVideoUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    caseConsultId, consultDescrip, consultImageUrl, consultVideoUrl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from caseconsult
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from caseconsult
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    insert into caseconsult (caseConsultId, consultDescrip, consultImageUrl, 
      consultVideoUrl)
    values (#{caseconsultid,jdbcType=INTEGER}, #{consultdescrip,jdbcType=VARCHAR}, #{consultimageurl,jdbcType=VARCHAR}, 
      #{consultvideourl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    insert into caseconsult
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="caseconsultid != null">
        caseConsultId,
      </if>
      <if test="consultdescrip != null">
        consultDescrip,
      </if>
      <if test="consultimageurl != null">
        consultImageUrl,
      </if>
      <if test="consultvideourl != null">
        consultVideoUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="caseconsultid != null">
        #{caseconsultid,jdbcType=INTEGER},
      </if>
      <if test="consultdescrip != null">
        #{consultdescrip,jdbcType=VARCHAR},
      </if>
      <if test="consultimageurl != null">
        #{consultimageurl,jdbcType=VARCHAR},
      </if>
      <if test="consultvideourl != null">
        #{consultvideourl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    update caseconsult
    <set>
      <if test="consultdescrip != null">
        consultDescrip = #{consultdescrip,jdbcType=VARCHAR},
      </if>
      <if test="consultimageurl != null">
        consultImageUrl = #{consultimageurl,jdbcType=VARCHAR},
      </if>
      <if test="consultvideourl != null">
        consultVideoUrl = #{consultvideourl,jdbcType=VARCHAR},
      </if>
    </set>
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.sdp.project.pethospital.entity.CaseConsult">
    update caseconsult
    set consultDescrip = #{consultdescrip,jdbcType=VARCHAR},
      consultImageUrl = #{consultimageurl,jdbcType=VARCHAR},
      consultVideoUrl = #{consultvideourl,jdbcType=VARCHAR}
    where caseConsultId = #{caseconsultid,jdbcType=INTEGER}
  </update>
</mapper>