<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sdp.project.pethospital.mapper.ExamMapper">
  <resultMap id="BaseResultMap" type="edu.sdp.project.pethospital.entity.Exam">
    <constructor>
      <idArg column="examId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="examName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="examDescrip" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    examId, examName, examDescrip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exam
    where examId = #{examid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exam
    where examId = #{examid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.sdp.project.pethospital.entity.Exam">
    insert into exam (examId, examName, examDescrip
      )
    values (#{examid,jdbcType=INTEGER}, #{examname,jdbcType=VARCHAR}, #{examdescrip,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.sdp.project.pethospital.entity.Exam">
    insert into exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examid != null">
        examId,
      </if>
      <if test="examname != null">
        examName,
      </if>
      <if test="examdescrip != null">
        examDescrip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examid != null">
        #{examid,jdbcType=INTEGER},
      </if>
      <if test="examname != null">
        #{examname,jdbcType=VARCHAR},
      </if>
      <if test="examdescrip != null">
        #{examdescrip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.sdp.project.pethospital.entity.Exam">
    update exam
    <set>
      <if test="examname != null">
        examName = #{examname,jdbcType=VARCHAR},
      </if>
      <if test="examdescrip != null">
        examDescrip = #{examdescrip,jdbcType=VARCHAR},
      </if>
    </set>
    where examId = #{examid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.sdp.project.pethospital.entity.Exam">
    update exam
    set examName = #{examname,jdbcType=VARCHAR},
      examDescrip = #{examdescrip,jdbcType=VARCHAR}
    where examId = #{examid,jdbcType=INTEGER}
  </update>
</mapper>