<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sdp.project.pethospital.mapper.FeeMapper">
  <resultMap id="BaseResultMap" type="edu.sdp.project.pethospital.entity.Fee">
    <constructor>
      <idArg column="feeId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="feeName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="feePrice" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="feeDescrip" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    feeId, feeName, feePrice, feeDescrip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fee
    where feeId = #{feeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fee
    where feeId = #{feeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.sdp.project.pethospital.entity.Fee">
    insert into fee (feeId, feeName, feePrice, 
      feeDescrip)
    values (#{feeid,jdbcType=INTEGER}, #{feename,jdbcType=VARCHAR}, #{feeprice,jdbcType=DECIMAL}, 
      #{feedescrip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.sdp.project.pethospital.entity.Fee">
    insert into fee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="feeid != null">
        feeId,
      </if>
      <if test="feename != null">
        feeName,
      </if>
      <if test="feeprice != null">
        feePrice,
      </if>
      <if test="feedescrip != null">
        feeDescrip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="feeid != null">
        #{feeid,jdbcType=INTEGER},
      </if>
      <if test="feename != null">
        #{feename,jdbcType=VARCHAR},
      </if>
      <if test="feeprice != null">
        #{feeprice,jdbcType=DECIMAL},
      </if>
      <if test="feedescrip != null">
        #{feedescrip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.sdp.project.pethospital.entity.Fee">
    update fee
    <set>
      <if test="feename != null">
        feeName = #{feename,jdbcType=VARCHAR},
      </if>
      <if test="feeprice != null">
        feePrice = #{feeprice,jdbcType=DECIMAL},
      </if>
      <if test="feedescrip != null">
        feeDescrip = #{feedescrip,jdbcType=VARCHAR},
      </if>
    </set>
    where feeId = #{feeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.sdp.project.pethospital.entity.Fee">
    update fee
    set feeName = #{feename,jdbcType=VARCHAR},
      feePrice = #{feeprice,jdbcType=DECIMAL},
      feeDescrip = #{feedescrip,jdbcType=VARCHAR}
    where feeId = #{feeid,jdbcType=INTEGER}
  </update>
</mapper>