<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sdp.project.pethospital.mapper.HospRecordMapper">
  <resultMap id="BaseResultMap" type="edu.sdp.project.pethospital.entity.HospRecord">
    <constructor>
      <idArg column="hosId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="hosAnimalName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="disease" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    hosId, hosAnimalName, disease
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hosp
    where hosId = #{hosid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hosp
    where hosId = #{hosid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.sdp.project.pethospital.entity.HospRecord">
    insert into hosp (hosId, hosAnimalName, disease
      )
    values (#{hosid,jdbcType=INTEGER}, #{hosanimalname,jdbcType=VARCHAR}, #{disease,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.sdp.project.pethospital.entity.HospRecord">
    insert into hosp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hosid != null">
        hosId,
      </if>
      <if test="hosanimalname != null">
        hosAnimalName,
      </if>
      <if test="disease != null">
        disease,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hosid != null">
        #{hosid,jdbcType=INTEGER},
      </if>
      <if test="hosanimalname != null">
        #{hosanimalname,jdbcType=VARCHAR},
      </if>
      <if test="disease != null">
        #{disease,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.sdp.project.pethospital.entity.HospRecord">
    update hosp
    <set>
      <if test="hosanimalname != null">
        hosAnimalName = #{hosanimalname,jdbcType=VARCHAR},
      </if>
      <if test="disease != null">
        disease = #{disease,jdbcType=VARCHAR},
      </if>
    </set>
    where hosId = #{hosid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.sdp.project.pethospital.entity.HospRecord">
    update hosp
    set hosAnimalName = #{hosanimalname,jdbcType=VARCHAR},
      disease = #{disease,jdbcType=VARCHAR}
    where hosId = #{hosid,jdbcType=INTEGER}
  </update>
</mapper>