<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sdp.project.pethospital.mapper.MedicineMapper">
  <resultMap id="BaseResultMap" type="edu.sdp.project.pethospital.entity.Medicine">
    <constructor>
      <idArg column="medId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="medName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="medDescrip" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    medId, medName, medDescrip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from med
    where medId = #{medid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from med
    where medId = #{medid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.sdp.project.pethospital.entity.Medicine">
    insert into med (medId, medName, medDescrip
      )
    values (#{medid,jdbcType=INTEGER}, #{medname,jdbcType=VARCHAR}, #{meddescrip,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.sdp.project.pethospital.entity.Medicine">
    insert into med
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="medid != null">
        medId,
      </if>
      <if test="medname != null">
        medName,
      </if>
      <if test="meddescrip != null">
        medDescrip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="medid != null">
        #{medid,jdbcType=INTEGER},
      </if>
      <if test="medname != null">
        #{medname,jdbcType=VARCHAR},
      </if>
      <if test="meddescrip != null">
        #{meddescrip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.sdp.project.pethospital.entity.Medicine">
    update med
    <set>
      <if test="medname != null">
        medName = #{medname,jdbcType=VARCHAR},
      </if>
      <if test="meddescrip != null">
        medDescrip = #{meddescrip,jdbcType=VARCHAR},
      </if>
    </set>
    where medId = #{medid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.sdp.project.pethospital.entity.Medicine">
    update med
    set medName = #{medname,jdbcType=VARCHAR},
      medDescrip = #{meddescrip,jdbcType=VARCHAR}
    where medId = #{medid,jdbcType=INTEGER}
  </update>
</mapper>